@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


body {
    background-color: #F5F6FA;
}





/* //NAVBARR______________ */
.toggle-icon {
    display: none;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 1rem 3rem;
    background: #fff;
}

.navbar-link {
    width: 105px;
}


.navbar-items {
    width: 100%;
    display: flex;
}

.navbar .link-list {
    display: flex;
    gap: 3rem;
    text-transform: uppercase;
    margin: auto !important;
}

.link-list .link-item.active a {
    color: #007AFF;
}

.link-list .link-item a:hover {
    color: #007AFF;
}

.link-list .link-item a {
    transition: .3s all;
    font-weight: 450;
    font-size: 1.2rem;
    font-family: poppins;
    color: #3E3E81;
}

/* ABOUT */

.wrapper {
    height: 45vh;
    width: 100%;
    background-image: url(../../images/backgrounds/bg2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
}

.about-del-top {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 2rem 0;
}

.about-del {
    position: relative;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 1.875rem;
    gap: 1rem;
}

.about-del-top img {
    width: 30rem;
    border-radius: 10px;

}

h1 {
    color: #3E3E81;
    font-size: 1.8rem;
    padding-right: 2rem;
    margin-top: 4rem;
    text-align: center;

}





/* ____________ */

:root {
    --bgColor: #31d9f6;
    --txtColor: hsl(195, 9%, 9%);
    --userInputTopBottom: rgb(44, 155, 186);

    /* Card colors */

    --cardColor1: rgba(54, 240, 128, 0.99);
    --cardColor2: rgba(239, 92, 247, 0.99);
    --cardColor3: rgba(235, 186, 80, 0.99);
    --cardColor4: rgba(234, 84, 94, 0.99);
}

body {
    background-color: var(--bgColor);
    color: var(--txtColor);
    font-family: 'Nunito Sans', sans-serif;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    width: 85%;
}

.search-box{
    margin-top: 2rem;
    font-size: 0.9rem;
}

#search-input{
    margin-top: 0.5rem;
}

textarea {
    width: 100%;
    height: 4rem;
    margin-bottom: 0;
    display: block;
    border: none;
    resize: none;
}

form {
    width: 100%;
    margin-top: 1rem;
}

.name{
    font-weight: bold;
}

#message-input-header {
    height: 2rem;
    background-color: var(--userInputTopBottom);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#color-picker {
    display: flex;
}

#color-picker div {
    margin-left: 1rem;
    cursor: pointer;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    border: 1px solid black;
}

#color-text{
    font-size: 0.8rem;
    margin-top: 2px;
}

#color-picker div:nth-child(1) {
    background-color: var(--cardColor1);
}

#color-picker div:nth-child(2) {
    background-color: var(--cardColor2);
}

#color-picker div:nth-child(3) {
    background-color: var(--cardColor3);
}

#color-picker div:nth-child(4) {
    background-color: var(--cardColor4);
}

#message-btn {
    width: 100%;
    border-radius: 0%;
    margin-top: 0;
    height: 2rem;
    background-color: var(--userInputTopBottom);
    border: none;
    display: block;
    cursor: pointer;
}

.messageCard {
    margin: 1em 0;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

.spinMessage {
    transform: rotate(360deg);
    transition: 300ms ease all;
}

#messages {
    width: 100%;
}

.messageCard p:nth-child(2) {
    font-size: 0.7em;
    opacity: .7;
}

/*Progress-bar*/
.progress {
    margin: 2rem;
    height: 1rem;
    width: 50%;
    border: 10px solid #0f0905;
    border-radius: 15px;
}

.progress .color {
    background-color: #890404;
    width: 0px;
    height: 10px;
    border-radius: 15px;
    animation: progres 2s linear;
}

@keyframes progres {
    0% {
        width: 0%;
    }

    25% {
        width: 50%;
    }

    50% {
        width: 75%;
    }

    75% {
        width: 85%;
    }

    100% {
        width: 100%;
    }
}

#garf {
    display: none;
    height: 150px;
    position: absolute;
    top: 40px; left: 40px;
  }

/* -------------------- DARK MODE -------------------- */

@media (prefers-color-scheme: dark) {
    :root {
        --bgColor: hsl(216, 33%, 16%);
        --txtColor: hsl(196, 27%, 92%);

    }


}

@media screen and (min-width: 700px) {
    main {
        width: 50%;
    }


    /* NAvbar and about  */

    .about-del-top img {
        width: 70%;
    }

    .about-del {
        flex-direction: column;
    }

    footer {
        flex-direction: column;
        padding: 4rem 0;
    }
}






/* footer --------------- */

footer {
    width: 100%;
    background: linear-gradient(blue, skyblue);
    padding: 1rem;
    margin: auto;
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 5rem;
}

footer .social-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social-icon li {
    list-style: none;
}

footer .social-icon li a {
    font-size: 2rem;
    color: #f6f6f6;
    margin: 0 0.625rem;
    display: inline-block;
    transition: 0, 5s;
}

footer .social-icon li a:hover {
    transform: translateY(-0.625);
    color: rgb(192, 12, 12);
}

.copyright {
    display: flex;
    text-align: center;
    align-items: center;
}

footer p {
    font-size: .7rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin: auto;
}
