:root {
    --bgColor: #31d9f6;
    --txtColor: hsl(195, 9%, 9%);
    --userInputTopBottom: rgb(44, 155, 186);

    /* Card colors */

    --cardColor1: rgba(54, 240, 128, 0.99);
    --cardColor2: rgba(239, 92, 247, 0.99);
    --cardColor3: rgba(235, 186, 80, 0.99);
    --cardColor4: rgba(234, 84, 94, 0.99);
}

body {
    background-color: var(--bgColor);
    color: var(--txtColor);
    font-family: sans-serif;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    width: 85%;
}

textarea {
    width: 100%;
    height: 4rem;
    margin-bottom: 0;
    display: block;
    border: none;
    resize: none;
}

form {
    width: 100%;
    margin-top: 1rem;
}

#message-input-header {
    height: 2rem;
    background-color: var(--userInputTopBottom);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#color-picker {
    display: flex;
}

#color-picker div {
    margin-left: 1rem;
    cursor: pointer;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    border: 1px solid black;
}

#color-picker div:nth-child(1) {
    background-color: var(--cardColor1);
}

#color-picker div:nth-child(2) {
    background-color: var(--cardColor2);
}

#color-picker div:nth-child(3) {
    background-color: var(--cardColor3);
}

#color-picker div:nth-child(4) {
    background-color: var(--cardColor4);
}

#message-btn {
    width: 100%;
    border-radius: 0%;
    margin-top: 0;
    height: 2rem;
    background-color: var(--userInputTopBottom);
    border: none;
    display: block;
    cursor: pointer;
}

.messageCard {
    margin: 1em 0;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

.spinMessage {
    transform: rotate(360deg);
    transition: 300ms ease all;
}

#messages {
    width: 100%;
}

.messageCard p:nth-child(2) {
    font-size: 0.7em;
    opacity: .7;
}

/*Progress-bar*/
.progress {
    margin: 2rem;
    height: 1rem;
    width: 50%;
    border: 10px solid #0f0905;
    border-radius: 15px;
}

.progress .color {
    background-color: #890404;
    width: 0px;
    height: 10px;
    border-radius: 15px;
    animation: progres 2s linear;
}

@keyframes progres {
    0% {
        width: 0%;
    }

    25% {
        width: 50%;
    }

    50% {
        width: 75%;
    }

    75% {
        width: 85%;
    }

    100% {
        width: 100%;
    }
}

#garf {
    display: none;
    height: 150px;
    position: absolute;
    top: 40px; left: 40px;
  }

/* -------------------- DARK MODE -------------------- */

@media (prefers-color-scheme: dark) {
    :root {
        --bgColor: hsl(216, 33%, 16%);
        --txtColor: hsl(196, 27%, 92%);

    }


}

@media screen and (min-width: 700px) {
    main {
        width: 50%;
    }
}