:root {

    --bgColor: #31d9f6;
    --txtColor: hsl(195, 9%, 9%); 
    --userInputTopBottom: rgb(44, 155, 186);  
}

body{
    background-color: var(--bgColor);
    color: var(--txtColor);
}

/* -------------------- DARK MODE -------------------- */

@media (prefers-color-scheme: dark) {
    :root {
    --bgColor: hsl(216, 33%, 16%);
    --txtColor: hsl(196, 27%, 92%); 
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: flex; 
    margin: 0 auto;
    align-items: center;
    width: 85%;
}

textarea {
    width: 100%;
    height: 4rem;
    margin-bottom: 0;
    display: block;
    border: none;
    resize: none;
}

form {
    width: 100%;
    margin-top: 1rem;
}

#message-input-header {
    height: 2rem;
    background-color: var(--userInputTopBottom);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#color-picker {
    display: flex;
}

#message-btn {
    width: 100%;
    border-radius: 0%;
    margin-top: 0;
    height: 2rem;
    background-color: var(--userInputTopBottom);
    border: none;
    display: block; 
}
